<!-- <mat-toolbar color="primary">
  <a href="" routerLink="/">My Application</a>

</mat-toolbar> -->

<mat-toolbar color="primary">
  <!-- <mat-toolbar-row> -->
    <a mat-button [routerLink]="'/'"> My Application </a>
    <!-- <span class="menu-spacer"></span> -->
    <div *ngIf="isAuthenticated">
      <a mat-button [routerLink]="'/create'" routerLinkActive="mat-accent"> New Post </a>
    </div>
    <div *ngIf="!isAuthenticated">
      <a mat-button [routerLink]="'/auth/login'" routerLinkActive="mat-accent"> Login </a>
    </div>
    <div *ngIf="!isAuthenticated">
      <a mat-button [routerLink]="'/auth/signup'" routerLinkActive="mat-accent"> Sign Up </a>
    </div>
    <div *ngIf="isAuthenticated">
      <button mat-button routerLinkActive="mat-accent" (click)="logout()"> Logout </button>
    </div>
    <!-- </mat-toolbar-row> -->
</mat-toolbar>
