<h3 mat-dialog-title>Error Occured</h3>
<div mat-dialog-content>
  <p>{{errorMessage}}</p>

</div>

<div mat-dialog-actions>
  <!-- mat-dialog-close will close the dialog -->
  <button mat-button mat-dialog-close>Close</button>
</div>
