<!-- {{posts.length}} -->
<ng-container *ngIf="!isLoading; else loading">
<mat-accordion displayMode="default" [multi]="true" *ngIf="posts.length > 0" [hideToggle]="false">
  <mat-expansion-panel *ngFor="let post of posts" [hideToggle]="false">
    <mat-expansion-panel-header>{{ post.title }}</mat-expansion-panel-header>
    {{ post.content }}
    <div class="image-picker">
      <img [src]="post.imagePath" alt="">
    </div>
    a: {{userId}} <br>
    b: {{post.creator}}
    <mat-action-row *ngIf="isAuthenticated && userId == post.creator">
      <!-- <button mat-button color="primary" > -->
        <a mat-button color="primary"  [routerLink]="['/edit', post.id]">Edit</a>

      <!-- </button> -->
      <button mat-button color="warn" (click)="onDelete(post.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>




</ng-container>

<mat-paginator  [length]="allPosts"
              [pageSize]="2"
              [pageSizeOptions]="[2, 5, 10, 25, 100]"
              aria-label="Select page"
              (page)="onChangePage($event)"
              >
</mat-paginator>

<p class="mat-body-1" *ngIf="posts.length <= 0 && !isLoading">No Posts added yet</p>

<ng-template #loading>
  <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
