<ng-container *ngIf="!isLoading; else loading">
  <mat-card>

    <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
      <mat-form-field>
        <input matInput type="text" name="email"
          [ngModel]='email'
          #emailInput="ngModel"
          placeholder="Email"
          required

          >
        <mat-error *ngIf="emailInput.invalid">Invalid Email</mat-error>
      </mat-form-field>

      <mat-form-field class="mt-3">
        <input matInput type="password" name="password"
          [ngModel]='password'
          #passwordInput="ngModel"
          placeholder="Password"
          required
          >
          <mat-error *ngIf="passwordInput.invalid">Invalid Password</mat-error>
      </mat-form-field>

      <button mat-raised-button color="accent" type="submit">Login</button>
    </form>

  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
<!-- test -->
