// .example-right-align {
//   text-align: right;
// }

// input.example-right-align::-webkit-outer-spin-button,
// input.example-right-align::-webkit-inner-spin-button {
//   display: none;
// }

// input.example-right-align {
//   -moz-appearance: textfield;
// }
