<form action="">


  <mat-form-field appearance="fill">
    <mat-label>Product Code</mat-label>
    <input type="code" matInput [formControl]="codeFormControl" [errorStateMatcher]="matcher"
      placeholder="MX2710AB90273">
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-error *ngIf="codeFormControl.hasError('code') && !codeFormControl.hasError('required')">
      Please enter a valid product code
    </mat-error>
    <mat-error *ngIf="codeFormControl.hasError('required')">
      Product code is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill">
    <mat-label>Product Name</mat-label>
    <input type="name" matInput [formControl]="nameFormControl" [errorStateMatcher]="matcher" placeholder="Milk">
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-error *ngIf="nameFormControl.hasError('name') && !nameFormControl.hasError('required')">
      Please enter a valid product name
    </mat-error>
    <mat-error *ngIf="nameFormControl.hasError('required')">
      Product name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" floatLabel="always">
    <mat-label>Price</mat-label>
    <input type="price" matInput [formControl]="priceFormControl" [errorStateMatcher]="matcher" placeholder="0" class="text-right example-right-align">
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
    <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
    <mat-error *ngIf="priceFormControl.hasError('price') && !priceFormControl.hasError('required')">
      Please enter a valid price
    </mat-error>
    <mat-error *ngIf="priceFormControl.hasError('required')">
      Price is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <br>

  <mat-form-field appearance="fill">
    <mat-label>Expired Date</mat-label>
    <input matInput [formControl]="expiredDateFormControl" [errorStateMatcher]="matcher" [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="priceFormControl.hasError('required')">
      Price is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <!-- Expired Date <br>
  <input type="date" name="expiredDate" id="expiredDate"> <br> -->

  <div>
    Status:s
    <input type="radio" name="status" id="status" value="Open" checked>
    <input type="radio" name="status" id="status" value="Close">
  </div>

  <div>
    Categories: <br>

    Drink: <br>
    <input type="checkbox" name="drink" id="drink"> <br>

    Toy: <br>
    <input type="checkbox" name="Toy" id="Toy"> <br>

    Meat: <br>
    <input type="checkbox" name="meat" id="meat"> <br>

    Book: <br>
    <input type="checkbox" name="book" id="book"> <br>

  </div>
  <br>
  <textarea name="remark" id="remark" cols="30" rows="10"></textarea>

</form>
