<app-header></app-header>
<main>
  <router-outlet></router-outlet>

  <!-- <app-post-create ></app-post-create>
  <app-post-list ></app-post-list> -->
  <!-- <app-post-create (postEvent)="postEvent($event)"></app-post-create>
  <app-post-list [posts]="storePosts"></app-post-list> -->
</main>
