<ng-container *ngIf="!isLoading; else loading">
  <mat-card>

    <form (submit)="savePost($event)" [formGroup]="form">
      <mat-form-field>
        <input matInput type="text" name="title" formControlName="title"
          placeholder="Title">
        <mat-error *ngIf="form.get('title').invalid">Invalid Title</mat-error>
      </mat-form-field>

      <div>
        <button type="button" mat-stroked-button (click)="filePicker.click()">Pick Image</button>
        <input type="file" #filePicker (change)="onImagePicker($event)">
      </div>

      <div class="image-picker" *ngIf="imageUrl">
        <img [src]="imageUrl" alt="">
      </div>

      <mat-form-field class="mt-3">
        <textarea matInput rows="10" name="content" formControlName="content"
          placeholder="Content"></textarea>
        <mat-error *ngIf="form.get('content').invalid">Invalid Content</mat-error>
      </mat-form-field>

      <button mat-raised-button type="submit">Save Post</button>
    </form>

  </mat-card>
</ng-container>
<ng-template #loading>
  <mat-spinner style="margin: auto;"></mat-spinner>
</ng-template>
